.notebook,
.notebook .tabs,
.notebook .pages,
.notebook .page {
 margin: 0;
 padding: 0;
}

.notebook .tabs, .notebook .pages {
 list-style: none;
 overflow: hidden;
}

.notebook .tabs li {
 float: left;
}

.notebook .pages {
 clear: both;
}


.notebook .tabs {
 border-left: 1px solid gray;
}

.notebook .tabs li {
 border-right: 1px solid gray;
 border-top: 1px solid gray;
}

.notebook .pages {
 border: 1px solid gray;
}


.notebook .tabs {
 font-family: Georgia;
 font-size: 15px;
 line-height: 30px;
 height: 30px;
}

.notebook .tabs li {
 background: #ffffff;
 padding: 0 10px;
 height: 30px;
}

.notebook .tabs a {
 text-decoration: none;
}


.notebook .tabs li:hover {
 background: #eee;
}

#notebook1 .pages, #notebook1 .page {
 width: 500px;
 height: 200px;
}

#notebook1 .pages {
 text-align: center;
 line-height: 200px;
 font-size: 150px;
}

#page1 { background: #ffffff; }
#page2 { background: #ffffff; }



#notebook2 .pages, #notebook2 .page {
 width: 320px;
 height: 320px;
}


#notebook3 .pages, #notebook3 .page {
 width: 300px;
 height: 250px;
}

#notebook3, #page2-1 img, #page2-2 img {
 padding: 5px;
}


.notebook .page .page-top-border
{
 margin: 0px;
 padding: 0px;
 border: none;
}

.notebook .page .page-top-border *
{
 height: 2px;
 font-size: 1px;
 line-height: 1px;
 border-top: 1px solid gray;
 float: left;
 margin: 0px;
 padding: 0px;
}

.notebook .page-top-border .page-active
{
 border-top: 1px solid #eee;
}


#notebook4 .pages {
 border-top: none;
}

#notebook4 .pages, #notebook4 .page {
 width: 601px;
 height: 450px;
 box-sizing: border-box;
}

#notebook4 .tabs li,
#notebook4 .page-top-border * {
 width: 150px;
 box-sizing: border-box;
}